
<table class="tx-vmfds-prayer-requests" >
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayerrequests_domain_model_prayerrequest.author" />
		</td>
		<td>
		{prayerRequest.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayerrequests_domain_model_prayerrequest.public_author" />
		</td>
		<td>
		{prayerRequest.publicAuthor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayerrequests_domain_model_prayerrequest.request" />
		</td>
		<td>
		{prayerRequest.request}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayerrequests_domain_model_prayerrequest.status" />
		</td>
		<td>
		{prayerRequest.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayerrequests_domain_model_prayerrequest.audience" />
		</td>
		<td>
		{prayerRequest.audience}
		</td>
	</tr>
</table>